packages:
  yum:
    git: []
    gcc-c++: []
    make: []
commands:
  celery:
    command: celery -A application.celery worker
    ignoreErrors: true
    cwd: /opt/python/current/app
  offline.py:
    command: python offline.py 
    cwd: /opt/python/current/app
sources:
  /home/ec2-user: http://download.redis.io/releases/redis-4.0.0.tar.gz
commands:
  redis_build:
    command: make
    cwd: /home/ec2-user/redis-4.0.0
  redis_config_001:
    command: sed -i -e "s/daemonize no/daemonize yes/" redis.conf
    cwd: /home/ec2-user/redis-4.0.0
  redis_config_002:
    command: sed -i -e "s/# maxmemory <bytes>/maxmemory 500MB/" redis.conf
    cwd: /home/ec2-user/redis-4.0.0
  redis_config_003:
    command: sed -i -e "s/# maxmemory-policy volatile-lru/maxmemory-policy allkeys-lru/" redis.conf
    cwd: /home/ec2-user/redis-4.0.0
  redis_config_004:
      command: sed -i -e "s/bind 127.0.0.1/bind 0.0.0.0/" redis.conf
      cwd: /home/ec2-user/redis-4.0.0
  redis_server:
    command: src/redis-server redis.conf
    cwd: /home/ec2-user/redis-4.0.0
