{% extends 'admin/base.html' %}

{% block title %}Improves your conversions through Search Box{% endblock %}
{% block header_code %}{% endblock %}
{% block content %}

<div class="Polaris-Card">
  <div class="Polaris-Card__Section">
    <div class="Polaris-SettingAction">
      <div class="Polaris-SettingAction__Setting">
        <div class="Polaris-Stack">
          <div class="Polaris-Stack__Item Polaris-Stack__Item--fill">
            <div class="Polaris-AccountConnection__Content">
              <div>Feliver Search</div>
              <div><span class="Polaris-TextStyle--variationSubdued">Please re-install your app</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="Polaris-SettingAction__Action"><a href="{{link_install}}" class="Polaris-Button Polaris-Button--primary">Re-install</a></div>
    </div>

  </div>
</div>

{% endblock %}
{% block footer_code %}{% endblock %}
