{% extends 'base.html' %}

{% block title %}Error 500 - Something goes wrong.{% endblock %}

{% block content %}



    <div class="content clearfix">

      <!-- Intro Section -->
      <div class="section-block window-height bkg-pink fullscreen-pattern">
        <div class="media-overlay bkg-gradient-royal-garden opacity-04">
        </div>
        <div class="row flex v-align-middle">
          <div class="column width-10 push-1 center">
            <h1 class="color-white">Error 500 - Something goes wrong</h1>

            <div class="row">
              <div class="column width-6 offset-3">
                <p class="lead color-white">Our engineers has been notified, please allow us some time to fix this. In the meantime, you can contact us support@feliver.com.</p>
                <a href="/" class="scroll-link button rounded medium bkg-white bkg-hover-white color-charcoal color-hover-charcoal-light shadow-hover left mb-80">
                  <span class="icon-documents left"></span>
                  <span>Go somewhere nice</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
