<header class="header header-relative header-fixed-on-mobile nav-dark no-transition header-animated" data-bkg-threshold="100" data-sticky-threshold="0" style="height: 81px;">
				<div class="header-inner no-transition">
					<div class="row nav-bar">
						<div class="column width-12 nav-bar-inner">
							<div class="logo no-transition">
								<div class="logo-inner">
									<a href="/" class="no-transition"><img src="{{ url_for('static', filename='images/logo-feliver-208.png') }}" alt="Feliver" /></a>
									<a href="/" class="no-transition"><img src="{{ url_for('static', filename='images/logo-feliver-208.png') }}" alt="Feliver" /></a>
								</div>
							</div>
							<nav class="navigation nav-block secondary-navigation nav-right no-transition">
								<ul>
									<li>
										<!-- Button -->
										<div >
											<a href="{{ link_install }}" class="button rounded biggest bkg-pink bkg-hover-white color-white color-hover-pink mb-60">START A FREE TRIAL</a>
										</div>
									</li>
								</ul>
							</nav>
							<nav class="navigation nav-block primary-navigation nav-middle no-transition">
								<ul>
									<li><a href="#technology">Our technology</a></li>
									<li><a href="#pricing">Pricing</a></li>
									<li><a href="https://blog.feliver.com">Our blog</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
