{% extends 'base.html' %}

{% block title %}Improves your conversions through Search Box{% endblock %}

{% block content %}

<!-- Content -->
<div class="content clearfix">

	<!-- Intro Section -->
	<div class="section-block window-height bkg-pink fullscreen-pattern">
		<div class="media-overlay bkg-gradient-royal-garden opacity-04">
		</div>
		<div class="row flex v-align-middle">
			<div class="column width-10 push-1 center">
				<h1 class="color-white">Feliver is the search every Shopify store needs.</h1>
				<a href="https://www.shopify.com/?ref=thestartupfounder"><img style="width: 27%; text-align: center;" src="{{ url_for('static', filename='images/shopify-logo.png') }}" alt="Shopify" /></a>
				<div class="row">
					<div class="column width-6 offset-3">
						<p class="lead color-white">Allow your users search by Image and improve your store's conversion rate.</p>
						<a href="#technology" class="scroll-link button rounded medium bkg-white bkg-hover-white color-charcoal color-hover-charcoal-light shadow-hover left mb-80">
							<span class="icon-documents left"></span>
							<span>Discover more</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Intro Section End -->

	<!-- Twitter Section -->
<a id="technology"></a>
	<div class="section-block pb-50 bkg-white">
		<div class="row">
			<div class="column width-6 offset-3 center v-align-middle">
				<div>
					<h2 class="mb-30">Our technology</h2>

				</div>
			</div>
		</div>
		<div class="row flex boxes one-column-on-tablet">
			<div class="column">
				<div class="box large rounded bkg-white border-pink horizon" data-animate-in="preset:scaleIn;duration:300ms;delay:150ms;">
					<div>
						<h4>Reverse Image Search</h4>
					</div>
					<p>Our core offering. With our technology, users could said what they are looking for by uploading a photo to the search box and find the most relevant results.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="column width-6 offset-3 center v-align-middle">
				<div>
					<h2 class="mb-30">Feliver does more than just Image Search:</h2>
					<p class="lead mb-60">Instant search + Full-text search + All-time analitycs and more...</p>

				</div>
			</div>
		</div>
		<div class="row flex boxes one-column-on-tablet">
			<div class="column width-4">
				<div class="box large rounded bkg-white border-grey-light horizon" data-animate-in="preset:scaleIn;duration:300ms;delay:0ms;">
					<div>
						<h4>Instant Search</h4>
					</div>
					<p>As your customer starts typing in the search box, Feliver shows relevant products, collections, and pages, along with search suggestions, images, and actual prices!</p>
				</div>
			</div>
			<div class="column width-4">
				<div class="box large rounded bkg-white border-grey-light horizon" data-animate-in="preset:scaleIn;duration:300ms;delay:300ms;">
					<div>
						<h4>Full-text search</h4>
					</div>
					<p>Feliver offers robust, relevant, and filterable full-text search. Finding the right product in a 100 000-product store takes just 1 second.</p>
				</div>
			</div>
			<div class="column width-4">
				<div class="box large rounded bkg-white border-grey-light horizon" data-animate-in="preset:scaleIn;duration:300ms;delay:0ms;">
					<div>
						<h4>All-time analytics</h4>
					</div>
					<p>Find out exactly how your users use search to improve their experience and your sales.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Twitter Section End -->

	<!-- Logo Section 3 -->
	<div class="section-block logos-4 pt-0 pb-80 bkg-white">
		<div class="row">
			<div class="column width-10 offset-1 center">
				<h4 class="mb-50">The world’s biggest e-commerce companies have also implemented visual/image search as a permanent tool for their shoppers.</h4>
				<div class="row content-grid-5 opacity-05">
					<div class="grid-item">
						<a href="http://www.amazon.com">
							<img src="{{ url_for('static', filename='images/amazon.png') }}" alt=""/>
						</a>
					</div>
					<div class="grid-item">
						<a href="http://www.zalando.com">
							<img src="{{ url_for('static', filename='images/zalando.png') }}" alt=""/>
						</a>
					</div>
					<div class="grid-item">
						<a href="http://www.asos.com">
							<img src="{{ url_for('static', filename='images/asos.png') }}" alt=""/>
						</a>
					</div>
					<div class="grid-item">
						<a href="http://www.ebay.com">
							<img src="{{ url_for('static', filename='images/ebay.png') }}" alt=""/>
						</a>
					</div>
					<div class="grid-item">
						<a href="http://www.aliexpress.com">
							<img src="{{ url_for('static', filename='images/ali.png') }}" alt=""/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Logo Section 3 End -->



	<!-- Pricing Options -->
	<a id="pricing"></a>
	<div class="section-block bkg-white">
		<div class="row flex boxes one-column-on-tablet">
			<div class="column width-5 v-align-middle">
				<div class="box rounded xlarge bkg-pink color-white">
					<div>
						<h2 class="mb-40">Affordable Prices for Small Stores.</h2>
						<p class="mb-mobile-40">The subscription price only depends on the number of products in your store. Here’s what you get on all plans:</p>
					</div>
				</div>
			</div>
			<div class="column width-7">
				<div class="box rounded">
					<div class="pricing-table rounded xlarge style-2 columns-2 mb-0 border-white">
						<div class="pricing-table-column">
							<div class="pricing-table-header">
								<h2 class="weight-semi-bold">STARTER</h2>
							</div>
							<div class="pricing-table-price">
								<h4>
									FREE
								</h4>
								<hr>
							</div>
							<div class="pricing-table-text">
								<p>All the Feliver features.  <br />Catalog size: 25 products. <br /><i>Upgrade to PRO at any time.</i></p>
							</div>
							<div class="pricing-table-footer">
								<a href="{{ link_install }}?plan=free" class="button rounded border-pink bkg-hover-pink color-pink color-hover-white shadow-hover mb-mobile-40">Start now!</a>
							</div>
						</div>
						<div class="pricing-table-column">
							<div class="pricing-table-header">
								<h2 class="weight-semi-bold">PRO</h2>
							</div>
							<div class="pricing-table-price">
								<h4>
									<span class="currency">$</span>9.00
									<span class="interval mt-10">/per month</span>
								</h4>
								<hr>
							</div>
							<div class="pricing-table-text">
								<p>All the Feliver features.  <br />Catalog size: Unlimited products.</p>
							</div>
							<div class="pricing-table-footer">
								<a href="{{ link_install }}?plan=pro" class="button rounded border-pink bkg-hover-pink color-pink color-hover-white shadow-hover mb-mobile-40">Try Feliver FREE for 14 days, no payment needed.</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Pricing Options End -->

	<!-- Custom Call to Action Section -->
	<div class="section-block pt-60 pb-60 bkg-ash">
		<div class="row flex">
			<div class="column width-8 left v-align-middle horizon" data-animate-in="preset:slideInLeftShort;duration:1000ms;delay:0;" data-threshold="1">
				<p class="lead mb-mobile-20 color-white">Enhance your store by using Feliver Search capabilities today!</p>
			</div>
			<div class="column width-4 right v-align-middle horizon" data-animate-in="preset:slideInRightShort;duration:1000ms;delay:300;" data-threshold="1">
				<div>
					<a href="{{ link_install }}" class="button rounded medium border-white color-white bkg-hover-white color-hover-pink no-margins lightbox-link">Start now!</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Custom Call to Action Section End -->

</div>
<!-- Content End -->


{% endblock %}
